.productcard {
    display: block;
    width: 18rem;
    height: 22rem;
    border: 1px solid var(--color-border-default);
    border-radius: var(--size-sm-1);
    padding: var(--size-sm-1);
    color: var(--color-content-dark);
    background-color: var(--color-surface-card);
    overflow: hidden;
    cursor: pointer;
}

.productcard__image {
    position: relative;
    width: 100%;
    height: 16rem;
    overflow: hidden;
}

.productcard__image > img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-selection);
}

.productcard__image-radios {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    gap: var(--size-sm-2);
    padding: 0 var(--size-sm-2) var(--size-sm-1) var(--size-sm-2);
}

.productcard__image-radios > div {
    width: var(--size-sm-1);
    aspect-ratio: 1;
    background-color: var(--color-on-primary);
    border-radius: 50%;
    flex-shrink: 1;
}

.productcard__image-info {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: var(--size-sm-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productcard__image-group {
    display: flex;
    gap: var(--size-sm-2);
}

.productcard__image-discount {
    background-color: var(--color-surface-elevated);
    border: 1px solid var(--color-sale);
    color: var(--color-sale);
    scale: 0.75;
}

.productcard__image-stock {
    background-color: var(--color-surface-elevated);
    scale: 0.75;
}

.productcard__image-imgnav {
    background-color: var(--color-surface-overlay2);
    border-radius: var(--size-sm-3);
    backdrop-filter: blur(10px);
    opacity: 75%;
}

.productcard__price {
    width: fit-content;
    display: flex;
    gap: var(--size-sm-1);
    margin: var(--margin-center);
    margin-top: var(--size-sm-3);
    margin-bottom: var(--size-sm-3);
}

.productcard__price > del {
    font-size: var(--size-def-0);
    color: var(--color-text-link);
}

.productcard__price > strong {
    font-size: var(--size-lg-1);
    color: var(--color-text-primary);
}

.productcard__title {
    font-size: var(--size-def-0);
}

.productcard__title > span {
    color: var(--color-text-primary);
}

.productcard__rating {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--size-sm-1);
    margin: var(--size-sm-3) 0;
}

.productcard__rating-point {
    color: var(--color-text-primary);
    font-weight: 700;
}

.productcard__rating-stars {
    display: flex;
    gap: var(--size-sm-3);
}

.productcard__rating-stars > i {
    color: var(--color-rating);
}

.productcard__rating-reviews {
    color: var(--color-text-primary);
    font-weight: 500;
}

.productcard__rating-buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--size-sm-1);
    margin: var(--margin-center);
}

.productcard__rating-buttons > button {
    background-color: var(--color-selection);
    border: 1px solid var(--color-border-default);
}

.productcard__rating-buttons > button:last-of-type {
    background-color: var(--color-selection);
    border: 1px solid var(--color-border-default);
}

.productcard__rating-buttons > button > i {
    font-size: var(--size-def-0);
    margin-right: var(--size-sm-2);
}

.productcard__rating-buttons > button > span {
    font-size: calc(var(--size-def-0)*0.75);
}

@media only screen and (max-width: var(--width-laptop)) {}

@media only screen and (max-width: var(--width-tablet)) {}

@media only screen and (max-width: var(--width-mobile)) {}
