.footer {
    background-color: var(--color-surface-footerbg);
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__main--column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__main--column > h3 {}

.footer__main--column > ul {}

.footer__main--column > ul > li {}

.footer__main--column > ul > li > i {}

.footer__main--column > ul > li > span {}

.footer__main--column > form {}

.footer__main--column > form > input {}

.footer__main--column > form > button {}

.footer__main--column > ul > li > a {}

.footer__main--column > div:first-of-type {
    width: calc(var(--size-lg-3)*2.5);
    overflow: hidden;
    mix-blend-mode: darken;
}

.footer__main--column > div:first-of-type > img {
    width: 100%;
}

.footer__main--column > p {}

.footer__main--column > div:last-of-type {}

.footer__main--column > div:last-of-type > a {}

.footer__main--column > div:last-of-type > a > i {}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom > span {}

.footer__bottom > span > button {}

@media only screen and (max-width: var(--width-laptop)) {}

@media only screen and (max-width: var(--width-tablet)) {}

@media only screen and (max-width: var(--width-mobile)) {}
